<div id="contactme" class="container mikespacer">
    <div class="section-title text-center">
        <h2>Contact Us</h2>
        <div class="bar"></div>
        <p class="sendemail_wrapper">I would glad to listen from your
        <span class="sendemail"><a href="mailto:kingrio.miranda@gmail.com">Email</a></span>
        </p>

        <ul class="social">
            <li><a href="https://www.facebook.com/iloveyoudianamay/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/in/rio-michael-miranda-6259409b/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://twitter.com/kingriomichael" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>

</div>