
<div class="aboutus_wrapper">
<div id="about-us" class="container mikespacer">
    <div class="section-title text-center" trackVisibility>
        <h2>About me</h2>
        <div class="bar"></div>
     </div>   

     <div class="row d-flex justify-content-center">
        
        <div class="col-lg-6  col-md-6 col-sm-4" trackVisibility>
            <img src="assets/img/profile-500.jpg" alt="logo">
        </div>
        
        <div class="col-lg-6 col-md-6 col-sm-8">
        <p class="text-justify" trackVisibility>
        I was born to goodly parents and have been taught to be humble, honest, and passionate about what I do. I grew up on a farm and this molds me to value hard work. I develop my interest in the Internet and Technology as my pre-school selected me to represent the school so we can have our first computer.
        </p>

        <p class="text-justify" trackVisibility>
        I pursue my education and a graduate of Bachelor In Information Technology last 2012. I meet my wife in the University and married in the 2015 after we did a voluntary service from a non-profit organization. We have 2 children and a dog. All of them is name from Programming or web development related. We have Naomi Codie and Lara Sophia Unique as our daughters and a son named Teancum Cloud. Oh!, we also have a dog named JSon Linux.
        </p>

        <p class="text-justify" trackVisibility>
        Me and my wife life to continue our education, and we did enroll to a University that offers remote classes. I did enroll in Brigham Young University and I'm about to finish the Associate program and had 3 Certificates in Web Frontend Development, and Web Backend Development and Database Development certificate.
        </p>
        
        <p class="text-justify" trackVisibility>
        I do freelance web development and different project that apply my skills and knowledge.
        </p>
        </div>
    
   
</div>

</div>

</div>