<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none logo-container">
            <img src="assets/img/logo.png" alt="logo">
        </a>

        <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#myCarousel" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#goals" class="nav-link px-2 text-white">Goals</a></li>
          <li><a href="#about-us" class="nav-link px-2 text-white">About</a></li>
          <li><a href="#services" class="nav-link px-2 text-white">Services</a></li>
          <li><a href="#skills" class="nav-link px-2 text-white">Skills</a></li>
          <li><a href="#testimonials" class="nav-link px-2 text-white">Testimonials</a></li>
          <li><a href="#contactme" class="nav-link px-2 text-white">Contact Me</a></li>
        </ul>


      
      </div>
    </div>
  </header>