<div id="services" class="container mikespacer">
    <div class="section-title text-center" trackVisibility>
        <h2>Services</h2>
        <div class="bar"></div>
        <p>Here are some of my services, you can also message me for clarification or if task is not listed here.</p>
    </div>

  <div class="row">
      <div class="col-lg-4 col-md-6" trackVisibility>
          <div class="single-features">
              <div class="icon">
                  <fa-icon [icon]="faWordpress" class="mike-icon"></fa-icon>
              </div>
              <h3>Wordpress</h3>
              <p>Create Personal website, Blogging, Ecommerce, Company site using Wordpress. I can create custom code, shortcode, wordpress hook, custome theme, custom plugin 

              </p>
          </div>
      </div>

      <div class="col-lg-4 col-md-6" trackVisibility>
          <div class="single-features">
              <div class="icon">
                <fa-icon [icon]="faShopify" class="mike-icon shopify"></fa-icon>
              </div>
              <h3>Shopify</h3>
              <p> Customize Theme, Setup App, Transfer Product from different platform to shopify, Optimize website, Create Blocks, Create DOM animations, Update theme safely</p>
          </div>
      </div>

      <div class="col-lg-4 col-md-6" trackVisibility>
          <div class="single-features">
              <div class="icon">
                <img src="assets/img/Launch cart-Seal2-2.png" alt="logo">
              </div>
              <h3>Launch Cart</h3>
              <p>Take advantage of its free plan option. I can customize theme, DOM and create DFY for you. Ask anything about Launch Cart and I will be able to assist you.</p>
          </div>
      </div>

      <div class="col-lg-4 col-md-6" trackVisibility>
          <div class="single-features">
              <div class="icon">
                <fa-icon [icon]="faHardDrive" class="mike-icon backup"></fa-icon>
              </div>
              <h3>Backup</h3>
              <p>I can work with different kinds of backup. I can backup and restore and transfer site from different hosting. Create Backup schedule for Database and can work with cloud storage.</p>
          </div>
      </div>

      <div class="col-lg-4 col-md-6" trackVisibility>
          <div class="single-features">
              <div class="icon">
                <fa-icon [icon]="faCode" class="mike-icon"></fa-icon>
              </div>
              <h3>Code</h3>
              <p>Create website from scratch. Using different technology (PHP, MySQL, MsSQL, Node JS, Express JS, Vanilla JS, JSON, HTML5, CSS3, MongoDb, Angular)</p>
          </div>
      </div>

      <div class="col-lg-4 col-md-6" trackVisibility>
          <div class="single-features">
              <div class="icon">
                <fa-icon [icon]="faCamera" class="mike-icon photomanipulation"></fa-icon>
              </div>
              <h3>Photo Manipulation</h3>
              <p>Create Photoshop Actions, these will speed up in creating mockups. With a click of the play button, it will generate mockups you setup.I also create SVG in Illustrator.</p>
          </div>
      </div>


      <div class="col-lg-4 col-md-6" trackVisibility>
        <div class="single-features">
            <div class="icon">
              <fa-icon [icon]="faCamera" class="mike-icon photomanipulation"></fa-icon>
            </div>
            <h3>Go High Level</h3>
            <p>Create automation, emails, workflows, websites, opportunities and pipelines.</p>
        </div>
    </div>
  </div>
</div>