
<div id="#go_up" class="bg-dark text-white goup text-center"> || </div>

<footer class="p-3 bg-dark text-white">
    <div class="row p-3">
            <div class="col-sm footer-list">
               <div class="container">
                    <div class="logo_wrapper"><img src="assets/img/logo.png" alt="logo"></div>
               </div>
            </div>
            <div class="col-sm footer-list">
                <h3 class="footer-title">Message</h3>
                <div class="footerbar"></div>
                <span class="footer_message">
                    Aim to work with peopple with integrity, compassion, and efficiency and prioritize family.
                </span>
            </div>
            <div class="col-sm footer-list">
                <h3 class="footer-title">Site URL</h3>
                <div class="footerbar"></div>
                <ul class="footer_menu">
                    <li><a href="#myCarousel">Home</a></li>
                    <li><a href="#goals" >Goals</a></li>
                    <li><a href="#about-us" >About</a></li>
                    <li><a href="#services" >Services</a></li>
                    <li><a href="#skills" >Skills</a></li>
                    <li><a href="#testimonials" >Testimonials</a></li>
                    <li><a href="#contactme" >Contact Me</a></li>
                </ul>
            </div>

            <div class="col-sm footer-list">
                <h3 class="footer-title">Connect with me</h3>
                <div class="footerbar"></div>
                <ul class="connect_with_me">
                    <li><a href="mailto:kingrio.miranda@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/rio-michael-miranda-6259409b/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://twitter.com/kingriomichael" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/iloveyoudianamay/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    
                </ul>
            </div>
    </div>
    <div class="row">
        <div class="copyright">Copyright © UniquelyCode.com 2022</div>
    </div>
</footer>