<div class="skills_wrapper">
<div id="skills" class="container mikespacer">
    <div class="section-title text-center">
        <h2>Skills</h2>
        <div class="bar"></div>
        <p>These are some of the skills i have and wished to develop throught the years</p>
    </div>

    <div class="row">
    
    <div class="col-sm-6">

        <div class="row">
            <h4 class="d-flex justify-content-center">Web Front-end</h4>

            <div class="container-progress"  trackVisibility>
                <span>HTML 5</span>
                <div class="progress">
                <div class="progress-bar s20" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
    
            <div class="container-progress"  trackVisibility>
                <span>CSS 3</span>
                <div class="progress">
                <div class="progress-bar s20" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="container-progress"  trackVisibility>
                <span>SCSS</span>
                <div class="progress">
                <div class="progress-bar s18" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="container-progress"  trackVisibility>
                <span>Bootstrap</span>
                <div class="progress">
                <div class="progress-bar s17" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="container-progress"  trackVisibility>
                <span>Tailwind</span>
                <div class="progress">
                <div class="progress-bar s17" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="container-progress"  trackVisibility>
                <span>Vanilla JS</span>
                <div class="progress">
                <div class="progress-bar s18" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="container-progress"  trackVisibility>
                <span>JSON</span>
                <div class="progress">
                <div class="progress-bar s20" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>


            <div class="container-progress"  trackVisibility>
                <span>JQUERY</span>
                <div class="progress">
                <div class="progress-bar s17" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="container-progress"  trackVisibility>
                <span>TypeScript</span>
                <div class="progress">
                <div class="progress-bar s17" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="container-progress"  trackVisibility>
                <span>Angular</span>
                <div class="progress">
                <div class="progress-bar s18" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>





        </div>



        <div class="row">
            <h4 class="d-flex justify-content-center">Web Backend</h4>

            <div class="container-progress"  trackVisibility>
                <span>PHP</span>
                <div class="progress">
                <div class="progress-bar s18" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>
    
            <div class="container-progress"  trackVisibility>
                <span>Node</span>
                <div class="progress">
                <div class="progress-bar s18" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>

            <div class="container-progress"  trackVisibility>
                <span>Express</span>
                <div class="progress">
                <div class="progress-bar s18" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>
        </div>



        <div class="row">
            <h4 class="d-flex justify-content-center">E-commerce</h4>

            <div class="container-progress"  trackVisibility>
                <span>Launch Cart</span>
                <div class="progress">
                <div class="progress-bar s20" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>
    
            <div class="container-progress"  trackVisibility>
                <span>Woocomerce</span>
                <div class="progress">
                <div class="progress-bar s18" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>

            <div class="container-progress"  trackVisibility>
                <span>Shopify</span>
                <div class="progress">
                <div class="progress-bar s19" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>
        </div>


        <div class="row">
            <h4 class="d-flex justify-content-center">Software QA Testing</h4>

            <div class="container-progress"  trackVisibility>
                <span>Manual Testing</span>
                <div class="progress">
                <div class="progress-bar s20" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>
    
            <div class="container-progress"  trackVisibility>
                <span>Automation Testing</span>
                <div class="progress">
                <div class="progress-bar s17" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>

           
        </div>


        
    </div>


    <div class="col-sm-6">
        <div class="row">
            <h4 class="d-flex justify-content-center">Database</h4>

            <div class="container-progress"  trackVisibility>
                <span>MySQL</span>
                <div class="progress">
                <div class="progress-bar s19" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
    
            <div class="container-progress"  trackVisibility>
                <span>MSSQL</span>
                <div class="progress">
                <div class="progress-bar s19" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="container-progress"  trackVisibility>
                <span>Oracle(PL/SQL)</span>
                <div class="progress">
                <div class="progress-bar s15" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="container-progress"  trackVisibility>
                <span>MongoDB</span>
                <div class="progress">
                <div class="progress-bar s17" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="container-progress"  trackVisibility>
                <span>Firebase</span>
                <div class="progress">
                <div class="progress-bar s15" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>


            <div class="container-progress"  trackVisibility>
                <span>Google Cloud SQL</span>
                <div class="progress">
                <div class="progress-bar s17" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>


        <div class="row">
            <h4 class="d-flex justify-content-center">Web Master</h4>
            <div class="container-progress"  trackVisibility>
                <span>Heroku</span>
                <div class="progress">
                <div class="progress-bar s15" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
    
            <div class="container-progress"  trackVisibility>
                <span>Google Compute Engine</span>
                <div class="progress">
                <div class="progress-bar s16" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="container-progress"  trackVisibility>
                <span>Hosting(namecheap, goDaddy, Hostgator and More)</span>
                <div class="progress">
                <div class="progress-bar s20" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="container-progress"  trackVisibility>
                <span>WHM</span>
                <div class="progress">
                <div class="progress-bar s20" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="container-progress"  trackVisibility>
                <span>CPANEL</span>
                <div class="progress">
                <div class="progress-bar s20" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="container-progress"  trackVisibility>
                <span>SSH</span>
                <div class="progress">
                <div class="progress-bar s18" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="container-progress"  trackVisibility>
                <span>FTP</span>
                <div class="progress">
                <div class="progress-bar s20" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

        </div>

        <div class="row">
            <h4 class="d-flex justify-content-center">Project Management</h4>

            <div class="container-progress"  trackVisibility>
                <span>Jira</span>
                <div class="progress">
                <div class="progress-bar s20" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>
    
            <div class="container-progress"  trackVisibility>
                <span>Trello</span>
                <div class="progress">
                <div class="progress-bar s20" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>


            <div class="container-progress"  trackVisibility>
                <span>Microsoft Team</span>
                <div class="progress">
                <div class="progress-bar s18" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>

        </div>


        <div class="row">
            <h4 class="d-flex justify-content-center">CMS / LMS</h4>

            <div class="container-progress"  trackVisibility>
                <span>Wordpress</span>
                <div class="progress">
                <div class="progress-bar s19" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>
    
            <div class="container-progress"  trackVisibility>
                <span>Canvas</span>
                <div class="progress">
                <div class="progress-bar s17" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>


            <div class="container-progress"  trackVisibility>
                <span>Ghost</span>
                <div class="progress">
                <div class="progress-bar s17" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>

            </div>
    </div>

    


      


    </div>
  </div>
</div>