<div class="testimonials_wrapper" trackVisibility>
<div id="testimonials" class="container mikespacer">
    <div class="section-title text-center">
        <h2>Testimonials</h2>
        <div class="bar"></div>
        <p>Here's what they say about me in Fiverr, There are also reviews in Linkedin and Other Service store</p>
    </div>





<div class="container">
    <div class="row">
        <div class="col-12 d-flex p-2 justify-content-end">
            <a class="btn btn-primary ms-1" href="#myTestimonial" role="button" data-bs-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-primary ms-1" href="#myTestimonial" role="button" data-bs-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="col-12">
            <div id="myTestimonial" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <div class="card-img"><img class="img-fluid" src="assets/img/logo2.png" alt="logo"></div>
                                    <div class="card-body">
                                        <span class="card-title">renesegura</span>
                                        <ul class="review__stars unstyled">
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                        </ul>
                                      
                                       
                                        <p class="card-text">Great, as always thank you for your help!</p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <div class="card-img"><img class="img-fluid" src="assets/img/logo2.png" alt="logo"></div>
                                    <div class="card-body">
                                        <span class="card-title">chrisabenjamin</span>
                                        <ul class="review__stars unstyled">
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                        </ul>
                                        
                                        <p class="card-text">Very fast turnaround.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <div class="card-img"><img class="img-fluid" src="assets/img/logo2.png" alt="logo"></div>
                                    <div class="card-body">
                                        <span class="card-title">daybreakxp</span>
                                        <ul class="review__stars unstyled">
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                        </ul>
                                       
                                        <p class="card-text">Rio was awesome and quick to make the CSS changes to my Ecom Store. Highly recommend.</p>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <div class="card-img"><img class="img-fluid" src="assets/img/logo2.png" alt="logo"></div>
                                    <div class="card-body">
                                        <span class="card-title">jonped</span>
                                        <ul class="review__stars unstyled">
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                        </ul>
                                       
                                        <p class="card-text">Great work</p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <div class="card-img"><img class="img-fluid" src="assets/img/logo2.png" alt="logo"></div>
                                    <div class="card-body">
                                        <span class="card-title">tailgatetrophie</span>
                                        <ul class="review__stars unstyled">
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                        </ul>
                                      
                                        <p class="card-text">This seller came highly recommended and delivered. I plan on working with him again. He was very responsive and made sure that I had exactly what I wanted before we were finished.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <div class="card-img"><img class="img-fluid" src="assets/img/logo2.png" alt="logo"></div>
                                    <div class="card-body">
                                        <span class="card-title">scott66</span>
                                        <ul class="review__stars unstyled">
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                        </ul>
                                     
                                        <p class="card-text">Super nice and easy to work with! Did I say fast? Yes, fast service! I do recommend him.</p>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <div class="card-img"><img class="img-fluid" src="assets/img/logo2.png" alt="logo"></div>
                                    <div class="card-body">
                                        <span class="card-title">momo3617</span>
                                        <ul class="review__stars unstyled">
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                        </ul>
                                        
                                        <p class="card-text">He did an excellent job. The communication was between us was effortless and ongoing during this whole process. I would definitely use him again, my project was ready earlier than expected and even better.</p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <div class="card-img"><img class="img-fluid" src="assets/img/logo2.png" alt="logo"></div>
                                    <div class="card-body">
                                        <span class="card-title">gothipire</span>
                                        <ul class="review__stars unstyled">
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                        </ul>
                                    
                                        <p class="card-text">Wonderful to work with, listened to my requests, and was great at listening to all the little detail changes! Would highly recommend!</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <div class="card-img"><img class="img-fluid" src="assets/img/logo2.png" alt="logo"></div>
                                    <div class="card-body">
                                        <span class="card-title">scottssminow</span>
                                        <ul class="review__stars unstyled">
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                            <li><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-star" viewBox="0 0 20 19"><path d="M10 15.258l-6.197 3.756 1.643-7.042L0 7.23l7.183-.61L10 0l2.817 6.62L20 7.23l-5.446 4.742 1.643 7.042z" fill-rule="evenodd"></path></svg></li>
                                        </ul>
                                        
                                        <p class="card-text">He did a little more than the job description, and he did have a bit of a hard time understanding what I was describing, but it all worked out in the end.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>